<h1>Current Pets</h1>

<% @pets.each do |pet| %>
<h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
  <p><%= pet.image %></p>
  <p><%= pet.approximate_age%></p>
  <p><%= pet.sex %></p>
  <p><%= pet.description %></p>
  <p><%= link_to pet.shelter.name, "/shelters/#{pet.shelter.id}" %></p>

<% end %>

<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new"  %>
